// Theme Colors
$primary-color : #F2F0E9;
$secondary-color: #705144;
$third-color:#705144;
$white-color: #ffffff;
$gray: #D8D7D7;
$darkgray: #ACA7A7;
$darkergray: #3E3636;
$darkergray2:#222;
$darkbluegreen: #1E2D39;
$black-color: #3d3d3d;
$lightblue: #E5EEF2;
$newheader: #657060;

// Theme Fonts
$primary-font : 'NotoSerif', sans-serif;//'PlayfairDisplay', open sans;
$secondary-font : 'Lato', sans-serif;

$primary-font-test : 'Raleway', open sans;
$secondary-font-test : 'Times New Roman', sans-serif;