@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    src: url(/fonts/NotoSerifDisplay-Medium.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Lato-Light.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/TimesNewRoman.woff2) format('woff2');
    font-display: swap;
}